@charset "UTF-8";

html{
font-size:62.5%;
}

*, *::before, *::after{
box-sizing:border-box;41
}


body{
align:center;
font-size:1.4rem;
font-family:Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}



.header{
background-color:transparent repeat-x;
width:100%;
table-layout:fixed;
position:fixed;
}



.header-a a{
display:inline-block;
text-align:center;
decoration:none;
background-color:#b0c4de;
width:200px;
padding:20px;
font-size:1.2rem;
color:#fff;
border-radius:50px;
transition:0.15s;
cursor:pointer;
float:right;

}


.header-a a:hover{
background-color:#4b0082;
color:#fff;
}



.header .header-b{
transition:0.15s;
height:65px;

}

.header .header-b a{
height:100px;
font-size:15px;
font-weight:bold;
text-align:center;
color:#f0f8ff;
text-decoration:none;
}

.header .header-b a::before,
.header .header-b a::after{
content:'';
display:inline-block;
width:100%;
height:10px;
margin:0 3px;
background-color:#fff;
vertical-align:middle;
}


.header .header-b a:hover{
color:#8d0000;

}


.header-a a{
text-decoration:none;
transition:0.15s;

}



.header-love{
font-size:60px;
width:225px;
height:56px;
margin:0 auto;
text-align:center;
}

.bachata-ll{
background-image:url('../images/black.jpg');
background-repeat:no-repeat;
background-size:cover;
width:100%;
height:100%;
}

.yellow{
wide:100%;
background-image:url('../images/img.png');
background-repeat:no-repeat;
background-size:cover;
width:100%;
height:100%;

}

.bachata-love{
wide:100%;
background-image:url('../images/bachta.jpg');
background-repeat:no-repeat;
background-size:cover;
width:100%;
height:100%;
}


.footer{
padding:12px 0;
font-size:1.3rem;
background-position:100% 100%;
}

.bachata-contact{
color:white;
margin-top:40px;
font-weight:bold;
font-size:90px;
text-align:center;
}

.contact-form{
display:none;
}


.contact{
padding:80px 0 150px;
font-size:40px;
font-weight:normal;
}


.contact-form{
width:50%;
margin:50px auto 0;
}

.contact-form input[type=text],
.contact-form textarea{
display:block;
width:100%;
outline:none;
margin-bottom:10px;
padding:15px;
border:1px solid rgba(255,255,255,0.4);
border-radius:0;
background-color:rgba(255,255,255,0.05);
color:#fff;
}

.contact-form textarea{
height:150px;
}

.contact-form input[type=submit]{
display:block;
width:200px;
margin:40px auto 0;
padding:15px;
border:1px solid rgba(255,255,255,0.4);
border-radius:5px;
background-color:transparent;
color:rgba(255,255,2555,0.6);
cursor:pointer;
}

.contact-form input[type=submit]:hover{
background-color:rgba(255,255,255,0.05);
}

.contact-form input[type=text]:focus,
.contact-form textarea:focus{
box-shadow:0 0 8px rgba(255,255,255,0.5)inset;
}


.bachata-anunce{
padding-top:40px;
font-size:4rem;
font-weight:normal;
text-align:center;
font-style:italic;
}


.bachata-event{
display:table;
width:100%;
height:100%;
padding:px;
}

.bachata-events{
display:table-cell;
border:5px solid black;
vertical-align:middle;
font-size:2rem;
line-height:5px;
text-align:center;
font-weight:normal;
font-style:italic;
}

.accordin{
text-align:center;
background-color:black;
background-color:transparent;
}

.accordin>li{
display:inline;
float:right;
cursor:pointer;
margin:0 0 5px 0;
padding:25px 10px;
border-radius:5px;
width:200px;
padding:20px;
font-size:1.2rem;
color:#fff;
border-radius:50px;
transition:0.15s;
cursor:pointer;
background-color:transparent;
background-position:bottom center;
background-repeat:no-repeat;
}

.accordin>li:hover{
background-color:#4b0082;
}

.accordin>li>h2{
font-weight:normal;
}

.accordin>li .content{
display:none;
}

.accordin>li.expanded{
background-color:black;
}

.accordin>li.expanded>h2{
font-weight:bold;
}

.accordin>li.expanded .content{
margin:10px 0 0 0;
padding:10px 0 0 0;
border-top:solid 1px #fff;
}

.slide{
position:relative;
margin:0 auto;
max-width:960px;
}

.slide img{
max-width:100%;
}

.slide>.container{
position:relative;
overflow:hidden;
margin:0;
padding:0;
list-style:none;
}

.slide>.container>li{
position:absolute;
z-index:0;
top:0;
left:0;
opacity:0;
}

.slide> .container >li.current{
position:relative;
z-index:1;
opacity:1;
}

.slide a.prev,
.slide a.next{
position:absolute;
display:block;
top:45%;
width:40px;
height:40px;
text-indent:-5000px;
z-index:10;
background:url(../images/m.jpg) 100% 100% no-repeat;
background-color:black;
}

.slide a.prev{
left:0;
}

.slide a.next{
right:0;
}

.accordin>li h2 a{
text-decoration:none;
}



 <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
      <script>
     $(document).ready(function(){
       $('.slider').bxSlider();
     });
      </script>



<div class="header-a">
              <a href="#" data-tabit="1" >CONTACT</a>
        </div>
         <div class="header-a">
              <a href="#" data-tabit="2" >HOME</a>
        </div>
        <div class="header-a">
              <a href="#" data-tabit="3">WHAT IS BACHATA?</a>
        </div>
        <div class="header-a">
              <a href="#" data-tabit="4">What is so difficult?</a>
        </div>